app-tic-tac-toe table {
  border-spacing: 0;
  border-collapse: collapse;
}

app-tic-tac-toe table td {
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  border: 1px black solid;
}
